In [79]:
import pandas as pd
import numpy as np
import glob
typesize=0;
file = open("01/testfile.csv","w") 
for filename in glob.glob('*.csv'):
    print(filename);
    data=pd.read_csv(filename);
    file.write(filename +",")
    file.write(str(data.shape[0])+",")
    file.write(str(data.shape[1])+",")
    if data.columns.size>typesize:
        typesize=data.columns.size
    for x in data.columns:
        file.write(x+",")
    file.write("\n")
file.close()
print(typesize) 
#Read the existing text from file in READ mode
f=open("01/testfile.csv","r")
fline="Dataset,#Rows,#Columns"    #Prepending string
for t in range(typesize+1):
        t=t+1
        #print(fline)
        fline=fline+",Column"+str(t)
fline=fline+"\n"
oline=f.readlines()
#Here, we prepend the string we want to on first line
oline.insert(0,fline)
f.close()
#We again open the file in WRITE mode 
f=open("01/testfile.csv","w")
f.writelines(oline)
f.close()
data=pd.read_csv("01/testfile.csv")
data.head()

02.csv
03.csv
01.csv
13

,Dataset,#Rows,#Columns,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14
0,02.csv,295455,7,INMATEID,ADMITTED_DT,DISCHARGED_DT,RACE,GENDER,INMATE_STATUS_CODE,TOP_CHARGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03.csv,300939,8,INMATEID,ADMITTED_DT,DISCHARGED_DT,RACE,GENDER,AGE,INMATE_STATUS_CODE,TOP_CHARGE,NaN,NaN,NaN,NaN,NaN,NaN
2,01.csv,7712,13,INMATEID,ADMITTED_DT,DISCHARGED_DT,CUSTODY_LEVEL,BRADH,RACE,GENDER,AGE,INMATE_STATUS_CODE,SEALED,SRG_FLG,TOP_CHARGE,INFRACTION,NaN